@import "ed-grid";
@import "edteam-style-guides/edteam-style-guides";
.fondo{
    background-color: $darkColor;
}
.text{
    color: $bodyBg;
}
.telefono{
    
    width:40% ;
    height:40% ;

}
.cardH{
    height: 50%;
    width: 50%;

}
.text-dark{
    color: $darkColor;
    font-size: 200%;
    font-family: Arial, Helvetica, sans-serif;
    
}
.logofooter{
    width: 60%;
    height: 60%;
}